@model BSG.WebUI.Models.CoachViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <br />

    <div class="alert alert-info" role="alert">
        Here we have a demo page where coaches could update their profiles, selected templates to be reflected in real time in the hosted page linked at the bottom of the page.
        In this demo the coach can select templateid 1 or 2 and upload an image (preferably of themselves!) which will be reflected on the hosted page.
    </div>
    
    <br />


    <button><a href="~\subscribe">Subscribe!</a></button>
    <div>
        <h1>Your Resources</h1>

        <div class="container">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-book"></span><a data-toggle="collapse" href="#collapse2" style="color: #17baef;padding-left:10px">  Admin Pack</a>   
                            

                        </h4>
                    </div>

                    <div id="collapse2" class="panel-collapse collapse">

                        <div class="panel-body">
                            <ul class="list-group">
                                
                                    <li class="list-group-item">
                                        <a href="~/Content/Resources/AdminPack/dates and times_.pdf" target="_blank">Dates and Times</a>
                                        <span class="label label-success">New</span>
                                    </li>
                                <li class="list-group-item">
                                    <a href="~/Content/Resources/AdminPack/medical_form.pdf" target="_blank">Medical Form</a>
                                    <span class="label label-success">New</span>
                                </li>

                                <li class="list-group-item">
                                    <a href="~/Content/Resources/AdminPack/payment_form.pdf" target="_blank">Dates and Times</a>
                                    <span class="label label-success">New</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="~/Content/Resources/AdminPack/registration_form.pdf" target="_blank">Medical Form</a>
                                    <span class="label label-success">New</span>
                                </li>

                            </ul>
                        </div>



                        <div class="panel-footer">Keep checking for latest content</div>
                    </div>


                </div>
                </div>

           

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="glyphicon glyphicon-book"></span>   <a data-toggle="collapse" href="#lessonPackRed">Lesson Pack Green</a>
                            </h4>
                        </div>

                        <div id="lessonPackRed" class="panel-collapse collapse">


                            <div class="panel-body">
                                <ul class="list-group">

                                    <li class="list-group-item">
                                        <a href="~/Content/Resources/LessonPack/Green/4. Green full lesson plan_new.pdf" target="_blank">Green Full Plan</a>
                                        <span class="label label-success">New</span>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="~/Content/Resources/LessonPack/Green/challenge sheet green.pdf" target="_blank">Challenge Sheet</a>
                                        <span class="label label-success">New</span>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="~/Content/Resources/LessonPack/Green/green report.pdf" target="_blank">Green Report</a>
                                        <span class="label label-success">New</span>
                                    </li>

                                </ul>
                            </div>

                            <div class="panel-footer">Keep checking for latest content</div>
                        </div>


                    </div>
                </div>


            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-book"></span>   <a data-toggle="collapse" href="#lessonPackGreen">Lesson Pack Green</a>
                        </h4>
                    </div>

                    <div id="lessonPackGreen" class="panel-collapse collapse">


                        <div class="panel-body">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    <a href="~/Content/Resources/LessonPack/Green/4. Green full lesson plan_new.pdf" target="_blank">Green Full Plan</a>
                                    <span class="label label-success">New</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="~/Content/Resources/LessonPack/Green/challenge sheet green.pdf" target="_blank">Challenge Sheet</a>
                                    <span class="label label-success">New</span>
                                </li>

                                <li class="list-group-item">
                                    <a href="~/Content/Resources/LessonPack/Green/green report.pdf" target="_blank">Green Report</a>
                                    <span class="label label-success">New</span>
                                </li>

                            </ul>
                        </div>



                        <div class="panel-footer">Keep checking for latest content</div>
                    </div>


                </div>
            </div>

        </div>
    </div>

        @using (Html.BeginForm("Index", "Coach", FormMethod.Post, new { enctype = "multipart/form-data" , id="coachForm"}))

        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4></h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SecondName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @max="2", @min="1" })
                    </div>
                </div>               

                <div class="form-group">
                    @Html.LabelFor(model => model.TemplateId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TemplateId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TemplateId, "", new { @class = "text-danger" })
                    </div>
                </div>

                                           
                <div class="form-group">
                    @Html.Label("Image", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" id="Image1" name="Image1" onchange="readURL(this);"/>
                        <br />
                        <img id="Image1Image" name="Image1Image" alt="your image" src="@Model.Image1Path" style="width:auto;max-width:300px" />
                        <!--<input type="text" id="Image1Name" name="Image1Name" />-->

                        <h3 id="NewImageHeader" class="hidden">New Image</h3>
                        <img id="blah" src="#" alt="your image"  class="hidden" style="width:auto;max-width:300px"/>

                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />

                        <input type="submit" value="Cancel" class="btn btn-danger" />

                    </div>
                </div>
            </div>
        }

        <div>

            <div class="alert alert-info" role="alert">
                Click save and and click the link below to see changes relected in hosted page (opens in new tab)
            </div>

            <h3>Coach's hosted page available at <a href="../../BSGCoach/@Model.FirstName/@Model.SecondName" target="_blank">BSGCoach/@Model.FirstName/@Model.SecondName</a></h3>


                     
        </div>

    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        /*.width(150)
                        .height(200)*/
                        .removeClass("hidden").addClass("show");
                };

                reader.readAsDataURL(input.files[0]);


                $("#NewImageHeader").removeClass("hidden");
                $("#NewImageHeader").addClass("show");
            }

        }

        $("#coachForm").on('submit', function () {
            var $btn = $(document.activeElement);

            if ($(document.activeElement).val() === "Cancel") {
                alert("Cancel to be implemented");
            }
        }
        );
    </script>
</body>
</html>
